@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fade-in-wrapper{
  opacity: 0;
  margin-top: 5rem!important;
  transition: opacity 0.5s, margin 0.5s ease;
}

.fade-in-wrapper-animate{
  opacity: 1;
  margin-top: 0rem!important;
  transition: opacity 1.5s, margin 2s ease;
}