@font-face {
  font-family: "AvenirNextBold";
  src: local("AvenirNextBold"),
   url("./fonts/AvenirNext-Bold.ttf") format("truetype");
  font-weight: bold;
  }

  @font-face {
    font-family: "AvenirNextRegular";
    src: local("AvenirNextRegular"),
     url("./fonts/AvenirNext-Regular.ttf") format("truetype");
    font-weight: regular;
    }

body {
  margin: 0;
  font-family: 'AvenirNextRegular' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
